/*REUTILIZANDO CLASS*/
.title__featured{
    font-family: $font2;
    font-size: $font_size0;
    font-weight: $font_weight1;
    color: $color_coffee;
}
.line{
    border: 2px solid $color_green;
}
/*REUTILIZANDO CLASS*/