/*Footer*/
.box__footer{
    background-color: $color_green2;
    width: 100%;
    padding-top: 7px;
    padding-bottom: 7px;
}
.text__footer{
    font-family: $font1;
    font-size: $font_size3;
    font-weight: $font_weigth5;
    color: $color_white;
}

/*Footer*/