/*Testimonios*/
.testimony{
    margin-left: 16%;
    margin-top: 25px;
}
.testimony__img{
    width: 60px;
    height: 60px;
    border-radius: 50px;
    border: 3px solid $color_green2;
}
.testimony__text{
    font-family: $font2;
    font-size: $font_size2;
    font-weight: $font_weigth5;
    color: $color_lightBrown;
    font-style: italic;
}
.testimony__name{
    font-family: $font2;
    font-size: $font_size1;
    font-weight: $font_weight1;
    color: $color_coffee;
}